html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;

}

.col {
  height: 100%;
}

div[class*=container] {
  text-align: center;
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}s

h1 {
    text-align: center;
}

p.date {
    text-align: right;
}

p.main {
    text-align: justify;
}



/* ------------ login page ---------------- */
.login {
  position: absolute;
  right: 5%;
  width: 35%;
  border: 3px solid #73AD21;
  padding: 10px;
}

/* ------------ sign up page ---------------- */
.signup {
  position: absolute;
  top: 42%;
  right: 5%;
  width: 35%;
  border: 3px solid #73AD21;
  padding: 10px;
}



input[type=text] {
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text]:focus {
  background-color: lightblue;
}

  input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* form submit */



/* button */


.eachSkillsUnclicked {
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

.eachSkillsclicked {
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}



.allSkills{
  position: relative;
  float: center;
  top: 50%;
  left: 40%;
}





/* button */





.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* button end  */

/* input type date */

input[type=date] {
  height: 35px;
  margin: 0 auto;
  width: 100%;
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: lightblue;
  outline: none;
  border: 0;
  border-radius: 3px;
  padding: 0 3px;
  color: #fff;
}
input[type=time]{
  height: 35px;
  margin: 0 auto;
  width: 100%;
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: lightpink;
  outline: none;
  border: 0;
  border-radius: 3px;
  padding: 0 3px;
  color: #fff;
}


/* input type date end */




/* AllUsersOnProfilePage start */

.AllUsersOnProfilePage{
  position: absolute;
  top: 80px;
  left: 4%;
  width: 200px;
  height: 100px;

}
/* AllUsersOnProfilePage finish */

/* my-bookings div start */
.my-bookings{
  position: absolute;
  top: 15%;
  right: 4%;
  width: 200px;
  height: 100px;
}
/* my-bookings div finish */



.each-booking{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}

/* log-out-div */
.log-out-div{

   position:fixed;
   right:10px;
   top:5px;
}
/* log-out-div */

body{
  text-align:center;
  background-color:#ffcc8e;
}

.button{
  position:relative;
  display:inline-block;
  margin:20px;
}

.button a{
  color:white;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B;
  display:block;
  position:relative;
  padding:20px 40px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active{
  top:10px;
  background-color:#F78900;

  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}



/* top buttons */
.wrapper1{
  position: fixed;
  top: 7%;
  left: 7%;
  transform: translate(-50%, -50%);
}
.wrapper2{
  position: fixed;
  top: 7%;
  left: 22%;
  transform: translate(-50%, -50%);
}
.wrapper3{
  position: fixed;
  top: 7%;
  left: 37%;
  transform: translate(-50%, -50%);
}
.wrapper4{
  position: fixed;
  top: 7%;
  left: 52%;
  transform: translate(-50%, -50%);
}
.wrapper5{
  position: fixed;
  top: 7%;
  left: 67%;
  transform: translate(-50%, -50%);
}

a{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

a span{
  position: relative;
  z-index: 2;
}

a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .50s;
}

a:hover{
  color: #fff;
}

a:hover:after{
  width: 100%;
}
/* top button ends */



/* userShowPageDiv */

  .userShowPageDiv{
    position: fixed;
    content: "";
    top: 30%;
    left:0%;
    width: 100%;
    height: 100%;
  }




/* FollowedUsersDiv */

  .FollowedUsersDiv{
    position: fixed;
    content: "";
    top: 30%;
    left:0%;
    width: 100%;
    height: 100%;
  }

  /* currentUserProfile */
  .currentUserProfile{
    position: fixed;
    content: "";
    top: 30%;
    left:0%;
    width: 100%;
    height: 100%;
  }
